@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;

  }
  .modal-content h2 {
    margin-top: 0;
    font-size: 30px;
  }
  .modal-content form {
    margin-top: 50px;
    padding: 50px;
  }
  .modal-content label {
    display: block;
    margin-bottom: 10px;
  }


  .modal {
    display: none;
    position: fixed;
    top: -19%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  }

  .blog-div{
    display: flex;
    justify-content: space-evenly;
    gap: 4%;
  }
.blog-container{
  display: flex;
  justify-content: space-evenly;
  gap: 4%;
  
} 


.about-book-text{
  font-family: 'Karma',sans-serif;
    width: 90%;
    font-size: 1.5rem;
    margin-top: 19%;
}

.blog-heading{
  margin-bottom: -15%;
  font-family: 'Karma',sans-serif;
  margin-top: -5%;
}

.blog-heading{
  margin-bottom: -15%;
  font-family: 'Karma',sans-serif;
}

.blog-heading p{
  margin-bottom: -65%;
  font-family: 'Karma',sans-serif;
}
.blog{
  margin-top: 6%;
}

.read-more-btn{
  padding: 4px 15px;
  margin-top: 3px;
  width: 200px;
  height: 50px;
  
  border:  2px black;
  color: white

}
body{
    background-color:rgb(240, 240, 248) 
}

.article-cards{
  display: flex;
  gap: 4%;
  flex-direction: column;
  

}
.book-cover{
  border: none;
  width: 400px;
  border-radius: 40px;
  margin-top: 40px;
  margin-left: 50px;
  height: 400px;
}


.theme-one-text{
  font-size: 1.4rem;
  border: solid;
  padding: 3px;
  margin: 2px 2px;
  font-family: 'Karma',sans-serif;

}
.theme-two{
  font-size: 1.4rem;
  border: none;
  font-family: 'Karma',sans-serif;
  padding: 3px;
  margin: 2px 2px;
}
.theme-three{
  font-size: 1.4rem;
  font-family: 'Karma',sans-serif;
  border: none;
  padding: 3px;
  margin: 2px 2px; 
}
.cancel-btn{
  padding: 15px;
  margin-top: 3px;
  width: 200px;
  border-radius: 35ox;
  background-color: red;
  border:  2px black;
  font-size: 23px;
  color: white;
}




  @media (min-width: 280px) and (max-width: 359px) {
    .modal-content {
      background-color: white;
      margin: 15% auto;
      padding: 25px;
      width: 90%;
    }
    .modal-content h2 {
      font-size: 16px;
    }
    .modal-content form {
      margin-top: 40px;
      padding: 30px;
    }
    .modal-content label {
      font-size: 16px;
    }
    .modal {
      top:5%;
    }
    .blog-div {
      flex-direction: column;
      gap: 20px;
    }
    .blog-container {
      flex-direction: column;
      gap: 20px;
    }
    .about-book-text {
      font-size: 1rem;
      margin-top: 15%;
      margin-left: 30px;
      margin-bottom: 5%;
    }
    .blog-heading {
      font-size: 24px;
      margin-bottom: -10%;
      margin-left: 30px;
    }
    .blog {
      margin-top: 4%;
    }
    .read-more-btn {
      background-color: red;
      width: auto;
      height: auto;
      border: none;
      border-radius: 35px;
      font-size: 2px;
      
      color: antiquewhite;
      margin-left: 39px;
    }
  
    .article-cards {
      flex-direction: column;
      gap: 20px;
    }
    .book-cover {
      width: 250px;
      margin-top: 30px;
      margin-left: 16px;
    }
    .theme-one-text {
      font-size: 1.2rem;
      padding: 3px;
    }
    .theme-two {
      font-size: 1.2rem;
    }
    .theme-three {
      font-size: 1.2rem;
    }
    .cancel-btn{
      padding: 15px;
      margin-top: 3px;
      width: 200px;
      border-radius: 35ox;
      background-color: red;
      border:  2px black;
      font-size: 23px;
      color: white;
    }
  }


@media (min-width: 360px) and (max-width: 380px) {
  .modal-content {
    background-color: #eae9f0;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-content h2 {
    margin-top: 0;
    font-size: 24px;
  }

  .modal-content form {
    margin-top: 30px;
    padding: 30px;
  }

  .modal-content label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
  }

  .modal {
    display: none;
    position: fixed;
    top: -19%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  }

  .blog-div,
  .blog-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4%;
  }
  .blog-heading {
    font-size: 24px;
    margin-bottom: -10%;
    margin-left: 30px;
  }

  .about-book-text {
    font-size: 1rem;
    margin-top: 15%;
    margin-left: 30px;
  }

  .read-more-btn {
    background-color: red;
    width: 35%;
    height: 6%;
    border: none;
    border-radius: 35px;
    font-size: 20px;
    text-shadow: 3px;
    color: antiquewhite;
    margin-left: 39px;
  }


  .article-cards {
    display: flex;
    gap: 4%;
    flex-direction: column;
  }

  .book-cover {
    border: none;
    border-radius: 40px;
    margin-top: 30px;
    margin-left: 30px;
    width: 80%;
  }

  .theme-one-text,
  .theme-two,
  .theme-three {
    font-size: 1.2rem;
    border: solid;
    padding: 3px;
    margin: 2px 2px;
    font-family: 'Karma', sans-serif;
  }

  .cancel-btn{
    padding: 15px;
    margin-top: 3px;
    width: 200px;
    border-radius: 35ox;
    background-color: red;
    border:  2px black;
    font-size: 23px;
    color: white;
  }
}


@media only screen and (min-width: 390px) and (max-width: 480px) {
  .modal-content {
    
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-content h2 {
    margin-top: 0;
    font-size: 24px;
  }

  .modal-content form {
    margin-top: 30px;
    padding: 30px;
  }

  .modal-content label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
  }

  .modal {
    display: none;
    position: fixed;
    top: -19%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  }
  .blog-heading {
    font-size: 24px;
    margin-bottom: -10%;
    margin-left: 30px;
  }
  .about-book-text {
    font-size: 1rem;
    margin-top: 15%;
    margin-left: 30px;
  }

  .blog-div,
  .blog-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4%;
  }

  .read-more-btn {
    background-color: red;
    width: 40%;
    height: 6%;
    border: none;
    border-radius: 35px;
    font-size: 20px;
    text-shadow: 3px;
    color: antiquewhite;
    margin-left: 39px;
  }

  .article-cards {
    display: flex;
    gap: 4%;
    flex-direction: column;
  }

  .book-cover {
    border: none;
    border-radius: 40px;
    margin-top: 30px;
    margin-left: 30px;
    width: 80%;
  }

  .theme-one-text,
  .theme-two,
  .theme-three {
    font-size: 1.2rem;
    border: solid;
    padding: 3px;
    margin: 2px 2px;
    font-family: 'Karma', sans-serif;
  }

  .cancel-btn{
    padding: 15px;
    margin-top: 3px;
    width: 200px;
    border-radius: 35ox;
    background-color: red;
    border:  2px black;
    font-size: 23px;
    color: white;
  }
}

@media screen and (min-width:481px)and (max-width:540px){
  .modal-content {
    background-color: #eae9f0;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-content h2 {
    margin-top: 0;
    font-size: 24px;
  }

  .modal-content form {
    margin-top: 30px;
    padding: 30px;
  }

  .modal-content label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
  }

  .modal {
    display: none;
    position: fixed;
    top: -19%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  }

  .blog-div,
  .blog-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4%;
  }

  .read-more-btn {
    background-color: red;
    width: 40%;
    height: 6%;
    border: none;
    border-radius: 35px;
    font-size: 20px;
    text-shadow: 3px;
    color: antiquewhite;
  }

  .article-cards {
    display: flex;
    gap: 4%;
    flex-direction: column;
  }

  .book-cover {
    border: none;
    border-radius: 40px;
    margin-top: 30px;
    margin-left: 30px;
    width: 80%;
  }

  .theme-one-text,
  .theme-two,
  .theme-three {
    font-size: 1.2rem;
    border: solid;
    padding: 3px;
    margin: 2px 2px;
    font-family: 'Karma', sans-serif;
  }

  .cancel-btn{
    padding: 15px;
    margin-top: 3px;
    width: 200px;
    border-radius: 35ox;
    background-color: red;
    border:  2px black;
    font-size: 23px;
    color: white;
  }
}


@media screen and (min-width:681px)and (max-width:780px){
  .modal-content {
    margin: 15% auto;
    padding: 15px;
    width: 90%;
  }
  .modal-content h2 {
    font-size: 24px;
  }
  .modal-content form {
    margin-top: 40px;
    padding: 30px;
  }
  .modal-content label {
    font-size: 16px;
  }
  .modal {
    top: -15%;
  }
  .blog-div {
    flex-direction: row;
    gap: 20px;
  }
  .blog-container {
    flex-direction: row;
    gap: 20px;
  }
  .about-book-text {
    font-size: 1rem;
    margin-top: 15%;
    margin-left: 30px;
  }
  .blog-heading {
    font-size: 24px;
    margin-bottom: -10%;
    margin-left: 30px;
  }
  .blog {
    margin-top: 4%;
  }
  .read-more-btn {
    width: 60%;
    height: 7%;
    font-size: 18px;
    margin-left: 30px;
  }
  .article-cards {
    flex-direction: column;
    gap: 20px;
  }
  .book-cover {
    width: 250px;
    margin-top: 30px;
    margin-left: 16px;
  }
  .theme-one-text {
    font-size: 1.2rem;
    padding: 3px;
  }
  .theme-two {
    font-size: 1.2rem;
  }
  .theme-three {
    font-size: 1.2rem;
  }
  .cancel-btn{
    padding: 15px;
    margin-top: 3px;
    width: 200px;
    border-radius: 35ox;
    background-color: red;
    border:  2px black;
    font-size: 23px;
    color: white;
  }
}

@media screen and (min-width:810px)and (max-width:920px){
  .modal-content {
    margin: 15% auto;
    padding: 15px;
    width: 90%;
  }
  .modal-content h2 {
    font-size: 24px;
  }
  .modal-content form {
    margin-top: 40px;
    padding: 30px;
  }
  .modal-content label {
    font-size: 16px;
  }
  .modal {
    top: -15%;
  }
  .blog-div {
    flex-direction: column;
    gap: 20px;
  }
  .blog-container {
    flex-direction: column;
    gap: 20px;
  }
  .about-book-text {
    font-size: 1rem;
    margin-top: 15%;
    margin-left: 30px;
  }
  .blog-heading {
    font-size: 24px;
    margin-bottom: -10%;
    margin-left: 30px;
  }
  .blog {
    margin-top: 4%;
  }
  .read-more-btn {
    width: 60%;
    height: 7%;
    font-size: 18px;
    margin-left: 30px;
  }
  .article-cards {
    flex-direction: column;
    gap: 20px;
  }
  .book-cover {
    width: 250px;
    margin-top: 30px;
    margin-left: 16px;
  }
  .theme-one-text {
    font-size: 1.2rem;
    padding: 3px;
  }
  .theme-two {
    font-size: 1.2rem;
  }
  .theme-three {
    font-size: 1.2rem;
  }
  .cancel-btn{
    padding: 15px;
    margin-top: 3px;
    width: 200px;
    border-radius: 35ox;
    background-color: red;
    border:  2px black;
    font-size: 23px;
    color: white;
  }
}

@media screen and (min-width:921px)and (max-width:1024px){
  .modal-content {
    margin: 15% auto;
    padding: 15px;
    width: 90%;
  }
  .modal-content h2 {
    font-size: 24px;
  }
  .modal-content form {
    margin-top: 40px;
    padding: 30px;
  }
  .modal-content label {
    font-size: 16px;
  }
  .modal {
    top: -15%;
  }
  .blog-div {
    flex-direction: column;
    gap: 20px;
  }
  .blog-container {
    flex-direction: column;
    gap: 20px;
  }
  .about-book-text {
    font-size: 1.8rem;
    margin-top: 15%;
    margin-left: 80px;
  }
  .blog-heading {
    font-size: 24px;
    margin-bottom: -10%;
    margin-left: 30px;
  }
  .blog {
    margin-top: 4%;
  }
  .read-more-btn {
    width: 20%;
    height: auto;
    font-size: 18px;
    margin-left: 330px;
  }
  .article-cards {
    flex-direction: column;
    gap: 20px;
  }
  .book-cover {
    width:500px;
    margin-top: 30px;
    margin-left: 246px;
  }
  .theme-one-text {
    font-size: 1.2rem;
    padding: 3px;
  }
  .theme-two {
    font-size: 1.2rem;
  }
  .theme-three {
    font-size: 1.2rem;
  }
  .cancel-btn{
    padding: 15px;
    margin-top: 3px;
    width: 200px;
    border-radius: 35ox;
    background-color: red;
    border:  2px black;
    font-size: 23px;
    color: white;
  }
}

@media screen and (min-width:1025px)and (max-width:1280px){
  .modal-content {
    background-color: #eae9f0;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;

  }
  .modal-content h2 {
    margin-top: 0;
    font-size: 30px;
  }
  .modal-content form {
    margin-top: 50px;
    padding: 50px;
  }
  .modal-content label {
    display: block;
    margin-bottom: 10px;
  }


  .modal {
    display: none;
    position: fixed;
    top: -19%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  }

  .blog-div{
    display: flex;
    justify-content: space-evenly;
    gap: 4%;
}
.blog-container{
  display: flex;
  justify-content: space-evenly;
    gap: 4%;
  /* flex-direction: row; */
} 

.about-book-text{
  font-family: 'Karma',sans-serif;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 19%;
}

.blog-heading{
  margin-bottom: -15%;
  font-family: 'Karma',sans-serif;
  margin-top: -5%;
}
.blog{
  margin-top: 6%;
}

 .read-more-btn{
    background-color: red;
    width: 50%;
    height: 9%;
    border: none;
    border-radius: 35px;
    font-size: 29px;
    text-shadow: 3px;
    color: antiquewhite;

}
body{
    background-color:rgb(240, 240, 248) 
}

.article-cards{
  display: flex;
  gap: 4%;
  flex-direction: column;
  

}
.book-cover{
  border: none;
  border-radius: 40px;
  height: auto;
  width: 390px;
  margin-top: 5px;
  margin-left: 50px;
}


.theme-one-text{
  font-size: 1.4rem;
  border: solid;
  padding: 3px;
  margin: 2px 2px;
  font-family: 'Karma',sans-serif;

}
.theme-two{
  font-size: 1.4rem;
  border: none;
  font-family: 'Karma',sans-serif;
  padding: 3px;
  margin: 2px 2px;
}
.theme-three{
  font-size: 1.4rem;
  font-family: 'Karma',sans-serif;
  border: none;
  padding: 3px;
  margin: 2px 2px; 
}
.cancel-btn{
  padding: 15px;
  margin-top: 3px;
  width: 200px;
  border-radius: 35ox;
  background-color: red;
  border:  2px black;
  font-size: 23px;
  color: white;
}
}



