#heading{
    padding: 8px 740px;
    font-size: 35px;
    font-family: 'Irish Grover';
}

#the{
    font-weight: lighter;
}

.profile{
border-radius: 20px 20px 0px 0px;
height: 250px;
width: 250px;

}

.name{
    font-size: 25px;
    padding: 0px 55px;
    color: white;
    font-family: 'Irish Grover';
}

.viewButton{
padding: 15px 20px;
border-radius: 30px;
margin-left: 40px;
font-size: 15px;
width: 150px;
height: 50px;
color: white;
cursor: pointer;
font-family: 'Irish Grover';
border: solid 2px white;
background-color: rgb(2, 2, 44);
}

.viewButton:hover{
    background-color: white;
    color:  rgb(2, 2, 44);
}

.member{
    background-color: rgb(2, 2, 44);
    padding: 20px 20px 20px 20px;
    width: 250px;
    border-radius: 30px;
}

.team{
    display: flex;
    gap: 200px;
    padding: 5px 280px;
}

#the-team{
    position: relative;
    z-index: 0;
}

#cv{
    width: 600px;
    height: 850px;
    position: absolute;
    background-color: rgba(136, 136, 148, 0.497);
    padding: 20px 50px;
    z-index: 1;
    margin-left: 550px;
}

.close {
    position: absolute;
    top: 20px;
    z-index: 1;
    right: 610px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }

@media only screen and (min-width:200px) and (max-width:299px){

    #heading{
        padding: 10px 10px 10px 45px;
        font-size: 25px;
    }
    
    
    .profile{
    border-radius: 20px 20px 0px 0px;
    height: 230px;
    width: 230px;
    
    }
    
    .name{
        font-size: 23px;
        padding: 0px 10px 0px 60px;
    }
    
    .viewButton{
    padding: 5px 15px;
    border-radius: 20px;
    margin-left: 55px;
    font-size: 13px;
    width: 120px;
    height: 30px;
    }
    
    .member{
        background-color: rgb(2, 2, 44);
        padding: 10px 10px 10px 10px;
        width: 230px;
        border-radius: 10px;
    }
    
    .team{
        flex-direction: column;
        gap: 8px;
        padding: 5px 15px;
    }
    
    #cv{
        width: 220px;
        height: 320px;
        position: absolute;
        background-color: rgba(136, 136, 148, 0.497);
        padding: 20px 20px;
        z-index: 1;
        margin-left: 10px;
    }
    
    .close {
        position: absolute;
        top: 18px;
        z-index: 1;
        right: 13px;
        color: #f1f1f1;
        font-size: 30px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
      }

}

@media only screen and (min-width:300px) and (max-width:360px){
    #heading{
        padding: 10px 20px 10px 72px;
        font-size: 30px;
    }
    
    
    .profile{
    border-radius: 20px 20px 0px 0px;
    height: 250px;
    width: 250px;
    
    }
    
    .name{
        font-size: 25px;
        padding: 0px 10px 0px 60px;
    }
    
    .viewButton{
    padding: 10px 25px;
    border-radius: 30px;
    margin-left: 50px;
    font-size: 15px;
    }
    
    .member{
        background-color: rgb(2, 2, 44);
        padding: 20px 20px 20px 20px;
        width: 250px;
        border-radius: 10px;
    }
    
    .team{
        flex-direction: column;
        gap: 8px;
        padding: 5px 43px;
    }

    #cv{
        width: 300px;
        height: 400px;
        position: absolute;
        background-color: rgba(136, 136, 148, 0.497);
        padding: 20px 20px;
        z-index: 1;
        margin-left: 10px;
    }
    
    .close {
        position: absolute;
        top: 18px;
        z-index: 1;
        right: 13px;
        color: #f1f1f1;
        font-size: 30px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
      }
}

@media only screen and (min-width:361px) and (max-width:399px){

    #heading{
        padding: 10px 20px 10px 72px;
        font-size: 30px;
    }
    
    
    .profile{
    border-radius: 20px 20px 0px 0px;
    height: 250px;
    width: 250px;
    
    }
    
    .name{
        font-size: 25px;
        padding: 0px 10px 0px 60px;
    }
    
    .viewButton{
    padding: 10px 25px;
    border-radius: 30px;
    margin-left: 50px;
    font-size: 15px;
    }
    
    .member{
        background-color: rgb(2, 2, 44);
        padding: 20px 20px 20px 20px;
        width: 250px;
        border-radius: 10px;
    }
    
    .team{
        flex-direction: column;
        gap: 8px;
        padding: 5px 43px;
    }

    #cv{
        width: 320px;
        height: 420px;
        position: absolute;
        background-color: rgba(136, 136, 148, 0.497);
        padding: 20px 20px;
        z-index: 1;
        margin-left: 10px;
    }
    
    .close {
        position: absolute;
        top: 18px;
        z-index: 1;
        right: 19px;
        color: #f1f1f1;
        font-size: 30px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
      }

}

@media only screen and (min-width:400px) and (max-width:499px){

    #heading{
        padding: 10px 20px 10px 90px;
        font-size: 30px;
        font-family: 'Irish Grover';
    }
    
    #the{
        font-weight: lighter;
    }
    
    .profile{
    border-radius: 20px 20px 0px 0px;
    height: 250px;
    width: 250px;
    
    }
    
    .name{
        font-size: 30px;
        padding: 0px 10px 0px 60px;
    }
    
    .viewButton{
    padding: 10px 25px;
    border-radius: 30px;
    margin-left: 50px;
    font-size: 20px;
    }
    
    .member{
        background-color: rgb(2, 2, 44);
        padding: 20px 20px 20px 20px;
        width: 250px;
        border-radius: 10px;
    }
    
    .team{
        flex-direction: column;
        gap: 8px;
        padding: 5px 60px;
    }
    
    #cv{
        width: 330px;
        height: 460px;
        position: absolute;
        background-color: rgba(136, 136, 148, 0.497);
        padding: 20px 30px;
        z-index: 1;
        margin-left: 10px;
    }
    
    .close {
        position: absolute;
        top: 15px;
        z-index: 1;
        right: 30px;
        color: #f1f1f1;
        font-size: 30px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
      }

}


@media only screen and (min-width:500px) and (max-width:699px){

    #heading{
        padding: 10px 20px 10px 150px;
        font-size: 30px;
    }
    
    #the{
        font-weight: lighter;
    }
    
    .profile{
    border-radius: 20px 20px 0px 0px;
    height: 150px;
    width: 150px;
    
    }
    
    .name{
        font-size: 20px;
        padding: 0px 10px 0px 20px;}
    
    .viewButton{
    padding: 5px 15px;
    border-radius: 30px;
    margin-left: 30px;
    font-size: 10px;
    width: 90px;
    height: 30px;
    }
    
    .member{
        background-color: rgb(2, 2, 44);
        padding: 5px 5px 10px 10px;
        width: 200px;
        border-radius: 10px;
    }
    
    .team{
        display: flex;
        gap: 8px;
        padding: 20px 10px;
    }
    
    #cv{
        width: 400px;
        height: 570px;
        position: absolute;
        background-color: rgba(136, 136, 148, 0.497);
        padding: 20px 40px;
        z-index: 1;
        margin-left: 30px;
    }
    
    .close {
        position: absolute;
        top: 30px;
        z-index: 1;
        right: 40px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
      }

}

@media only screen and (min-width:700px) and (max-width:799px){

    #heading{
        padding: 10px 40px 10px 220px;
        font-size: 45px;
        font-family: 'Irish Grover';
    }
    
    #the{
        font-weight: lighter;
    }
    
    .profile{
    border-radius: 20px 20px 0px 0px;
    height: 220px;
    width: 220px;
    
    }
    
    .name{
        font-size: 30px;
        padding: 0px 10px 0px 40px;}
    
    .viewButton{
    padding: 10px 30px;
    border-radius: 30px;
    margin-left: 40px;
    font-size: 19px;}
    
    .member{
        background-color: rgb(2, 2, 44);
        padding: 10px 10px 10px 10px;
        width: 250px;
        border-radius: 30px;
    }
    
    .team{
        display: flex;
        gap: 10px;
        padding: 30px 10px;
    }
    
    #cv{
        width: 600px;
        height: 850px;
        position: absolute;
        background-color: rgba(136, 136, 148, 0.497);
        padding: 20px 50px;
        z-index: 1;
        margin-left: 30px;
    }
    
    .close {
        position: absolute;
        top: 35px;
        z-index: 1;
        right: 50px;
        color: #f1f1f1;
        font-size: 60px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
      }


}

@media only screen and (min-width:800px) and (max-width:899px){

    #heading{
        padding: 20px 170px;
        font-size: 60px;
        font-family: 'Irish Grover';
    }
    
    #the{
        font-weight: lighter;
    }
    
    .profile{
    border-radius: 20px 20px 0px 0px;
    height: 240px;
    width: 240px;
    
    }
    
    .name{
        font-size: 35px;
        padding: 0px 10px 0px 40px;
    }
    
    .viewButton{
    padding: 10px 30px;
    border-radius: 30px;
    margin-left: 40px;
    font-size: 19px;
    }
    
    .member{
        background-color: rgb(2, 2, 44);
        padding: 10px 10px 10px 10px;
        width: 250px;
        border-radius: 30px;
    }
    
    .team{
        display: flex;
        gap: 10px;
        padding: 30px 10px;
    }
    
    #cv{
        width: 600px;
        height: 900px;
        position: absolute;
        background-color: rgba(136, 136, 148, 0.497);
        padding: 20px 50px;
        z-index: 1;
        margin-left: 50px;
    }
    
    .close {
        position: absolute;
        top: 35px;
        z-index: 1;
        right: 80px;
        color: #f1f1f1;
        font-size: 60px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
      }

}

@media only screen and (min-width:900px) and (max-width:999px){

    #heading{
        padding: 20px 225px 2px 225px;
        font-size: 60px;
        font-family: 'Irish Grover';
    }
    
    #the{
        font-weight: lighter;
    }
    
    .profile{
    border-radius: 20px 20px 0px 0px;
    height: 250px;
    width: 250px;
    
    }
    
    .name{
        font-size: 35px;
        padding: 0px 10px 0px 40px;
    }
    
    .viewButton{
    padding: 10px 30px;
    border-radius: 30px;
    margin-left: 40px;
    font-size: 17px;
    }
    
    .member{
        background-color: rgb(2, 2, 44);
        padding: 10px 10px 10px 10px;
        width: 250px;
        border-radius: 30px;
    }
    
    .team{
        display: flex;
        gap: 20px;
        padding: 70px 30px;
    }
    
    #cv{
        width: 700px;
        height: 950px;
        position: absolute;
        background-color: rgba(136, 136, 148, 0.497);
        padding: 20px 50px;
        z-index: 1;
        margin-left: 50px;
    }
    
    .close {
        position: absolute;
        top: 35px;
        z-index: 1;
        right: 70px;
        color: #f1f1f1;
        font-size: 70px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
      }

}

@media only screen and (min-width:1000px) and (max-width:1049px){

    #heading{
        padding: 2px 380px;
        font-size: 30px;
        font-family: 'Irish Grover';
    }
    
    #the{
        font-weight: lighter;
    }
    
    .profile{
    border-radius: 20px 20px 0px 0px;
    height: 180px;
    width: 180px;
    
    }
    
    .name{
        font-size: 17px;
        padding: 0px 10px 0px 55px;
    }
    
    .viewButton{
    padding: 5px 15px;
    border-radius: 30px;
    margin-left: 45px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    }
    
    .member{
        background-color: rgb(2, 2, 44);
        padding: 10px 10px 10px 10px;
        width: 180px;
        border-radius: 30px;
    }
    
    .team{
        display: flex;
        gap: 60px;
        padding: 5px 150px;
    }

    #cv{
        width: 370px;
        height: 530px;
        position: absolute;
        background-color: rgba(136, 136, 148, 0.497);
        padding: 20px 50px;
        z-index: 1;
        margin-left: 270px;
    }
    
    .close {
        position: absolute;
        top: 35px;
        z-index: 1;
        right: 300px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
      }

    

}

@media only screen and (min-width:1050px) and (max-width:1300px){

    #heading{
        padding: 8px 500px;
        font-size: 35px;
        font-family: 'Irish Grover';
    }
    
    #the{
        font-weight: lighter;
    }
    
    .profile{
    border-radius: 20px 20px 0px 0px;
    height: 210px;
    width: 220px;
    
    }
    
    .name{
        font-size: 25px;
        padding: 0px 10px 0px 55px;
    }
    
    .viewButton{
    padding: 2px 10px;
    border-radius: 30px;
    /* margin-left: 40px; */
    font-size: 15px;
    background-color: rgb(2, 2, 44);
    }
    
    .member{
        background-color: rgb(2, 2, 44);
        padding: 10px 10px 10px 10px;
        width: 220px;
        border-radius: 30px;
    }
    
    .team{
        display: flex;
        gap: 60px;
        padding: 5px 220px;
    }

    #cv{
        width: 500px;
        height: 700px;
        position: absolute;
        background-color: rgba(136, 136, 148, 0.497);
        padding: 20px 50px;
        z-index: 1;
        margin-left: 300px;
    }
    
    .close {
        position: absolute;
        top: 35px;
        z-index: 1;
        right: 400px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
      }

}
